.wrapper {
  display: flex;
}

#circle {
  height: 100px;
  width: 100px;
  border: 2px solid green;
  border-radius: 100px;
  position: relative;
}

#circle:after {
  content: "";
  position: absolute;
  border-top: 100px solid transparent;
}

.circle1:after {
  border-left: 140px solid #efefef;
  left: -50px;
  top: -35px;
}

.circle2:after{
  border-right: 140px solid #efefef;
  right: -50px;
}

.circle1::before{
  content: '';
  height: 20px;
  width: 276px;
  position: absolute;
  background: green;
  left: -18px;
  top: 45px;
  z-index: 1;
}
