/* Styling the body element */
body {
  background-color: #7a4854;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #f4edda;
}

/* Styling the form */
form {
  background-color: #f4edda;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  color: #7a4854;
}

/* Styling form control */
.form-control label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

/* Styling .form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

/* Styling radio button and checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

/* Styling button */
button {
  background-color: #7a4854;
  color: #f4edda;
  border: 2px solid #42292f;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}
