/* Styling the body element */
body {
  background-color: #05c46b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* Styling the form */
form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form control */
.form-control label{
  display: block;
  margin-bottom: 10px;
}